//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================
@global-navbar-color:           #888888;
@global-color:                  #555555;
@global-muted-color:            #888888;
@global-border-custom:          #555555;
@global-emphasis-color:         #555555;

//
// Typography
//

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.ttf');
    font-display: swap;
}

@global-font-family: 'Montserrat', 'san-serif', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
@global-font-family-second: 'Montserrat-Light', 'san-serif', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;


//
// Colors
//
@global-link-color:                             #555555;
@global-link-hover-color:                       rgb(99, 97, 97);


//
// Backgrounds
//
@global-background:             #FEFBF9;   
@global-secondary-background:     @global-background;
@global-overlay-primary-background: rgba(254, 246, 238, .88);
@global-overlay-default-background: rgba(254, 246, 238, 1);
//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//

// Box Shadows
@global-small-box-shadow:                       0 0 20px 0 rgba(0,0,0,0.12);